<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>新規投稿ページ</h1>
    <form action="/posts/create" method="post">
      <input type="text" name="content">
      <button type="submit">投稿する</button>
    </form>
  </body>
</html>